<h1>Well Read | The Online Book Club</h1>

<% if logged_in? %>
<% if current_user['username'] == 'administrator' %>
<h3>Logged in as Admin</h3>
<% end %>

<section class="controls">
    <a href="/books/add_book">Add Book</a>
    <form action="/sessions" method="POST">
      <input type="hidden" name="_method" value="delete">
      <button>Logout</button>
    </form>
</section>
<h3>Your Reading List <%= current_user['username'] %></h3>
<section class="books">
<% rec_index.each do |book|%>
        <section class="book">
            <header>
                <h3><%= book['title'] %></h3>
                <h6>Author: <%= book['author'] %></h6>
            </header>
            <img src="<%= book['image_url'] %>" alt="">
            <h3>On Your Reading List!</h3>
        </section>
    <% end %>
</section>
<hr>
<h1>Current Popular Books</h1>
<section class="books">
    <% book_index.each do |book|%>
        <section class="book">
            <header>
                <h3><%= book['title'] %></h3>
                <h6>Author: <%= book['author'] %></h6>
            </header>
            <img src="<%= book['image_url'] %>" alt="">
           
            <section class="bottom_controls">
            <% if current_user['username'] == 'administrator' %>
                <form action="/books/<%= book['id']%>" METHOD="POST">
                    <input type="hidden" name="_method" value="delete">
                    <button>Delete</button>
                </form>
                <a href="/books/<%= book['id'] %>/edit_book/">Edit</a>
            <% end %>
                <form action="/books/<%= book['id'] %>/add_to_read" method="POST">
                    <button>Add To Reading List</button>
                </form>
                
            </section>
            
        </section>
    <% end %>
<%else %>
<a href="/users/new_user">Sign Up</a>
<a href="/sessions/new">Login</a>
</section>
<% end %>
